<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.siu.blog.signup.dao.SignUpMapper">

    <!-- signUp --> 

    <insert id="signUp"
            parameterType="com.siu.blog.signup.domain.SignUpRequestDTO">
        INSERT INTO users(username, password, nickname, birthdate)
        VALUES (#{username}, #{password}, #{nickname}, #{birthdate})
    </insert>

    <!-- selectUser --> 

    <select id="selectUser"
            parameterType="com.siu.blog.signup.domain.DuplicationRequestDTO">
        SELECT EXISTS(
            SELECT *
            FROM users
            WHERE username=#{username}
        )
    </select>
    
</mapper>